*.o
*.out
*.html
.vscode/
src/*/__pycache__/
src/lexer/__pycache__
src/parser/__pycache__
src/assn3/.vscode/
src/__pycache__
src/parser/parsetab.py
src/*/parsetab.py
bin/*
src/parser/*.pyc
src/parser/*.ps
src/parser/*.dot
*.swp
!bin/README.md
